---
layout: base
activity_types:
-
  name: Youth Group
  image: rehearsal_studio_thumb.jpeg
  link: /leadership-and-training/
-
  name: Social Enterprise
  image: rehearsal_studio_thumb.jpeg
  link: /leadership-and-training/
-
  name: Creative Arts
  image: rehearsal_studio_thumb.jpeg
  link: /leadership-and-training/
-
  name: Leadership & Training
  image: rehearsal_studio_thumb.jpeg
  link: /leadership-and-training/
ongoing_projects:
-
  title: The piggery get's a new pig!
  image: wilbur.jpg
  description: |
    Today we're really excited to introduce Wilbur!
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  date: 2018-05-07 00:00:00
- title: The rehearsal studio is open for business
  image: rehearsal_ongoing.jpg
  description: |
    Today we're really excited to introduce Wilbur!
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  date: 2018-05-15 00:00:00
---
{% include header.html %}
{% include about.html %}
{% include what_we_do.html %}
{% include ongoing_projects.html %}
{% include get_involved.html %}
