<!-- About Section -->
<section class="primary-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who we are</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>
          AmFuture is a multifaceted, dynamic organisation working with youth in Uganda. We are
          multifaceted in that we are a youth group, a creative arts program and a social enterprise business.
        </p>
        <p>
          AmFuture started as a group of young people meeting in the house of Ian and Sally Muwonge. These
          are our roots, and we will always remain passionate about walking alongside young people. Even
          though we are growing exponentially and taking on new projects, we will always have the youth
          group on Saturday afternoon. On Saturday afternoon there is music and worship and a chance for
          the young people to showcase their talents in a supportive gathering.
        </p>
      </div>
      <div class="col-md-4">
        <img src="/static/img/about_us.jpeg"/>
      </div>
    </div>
  </div>
</section>
