<section class="primary-light" id="ongoing-projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Ongoing Projects</h2>
        <hr>
        <div class="ongoing-projects">
          {% for project in page.ongoing_projects %}
            <div class="row ongoing-project {% cycle '', 'right' %}">
              <div class="col-md-9 col-sm-9 {% cycle '', 'col-md-push-3 col-sm-push-3' %}">
                <h3>{{ project.title }}</h3>
                <p class="text-muted">{{ project.date | date: '%B %d, %Y' }}</p>
                {{ project.description | markdownify }}
              </div>
              <div class="img-wrapper col-md-3 col-sm-3  {% cycle '', 'col-md-pull-9' %}">
                <img src="/static/img/{{ project.image }}"/>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>