<section class="primary-dark" id="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="activity-types">
          <p>Learn more about the different ways AmFuture is helping the local community.</p>
          {% for activity_type in page.activity_types %}
            <div class="col-xs-12 col-md-3">
              <div class="activity-type">
                <a href="{{ activity_type.link }}">
                  <img src="/static/img/{{ activity_type.image }}"/>
                  <h3>{{ activity_type.name }}</h3>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
