---
layout: base
---
<div class="container main primary-light">
  <h1 class="text-center">{{ page.title }}</h1>
  <hr>
  <div class="post-body">
    {% if page.p_content %}
      {{ page.p_content | markdownify }}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
  <br>
  <div id="call-to-action-enquiry" class="hidden-btn"></div>
  <div class="text-center calls-to-action">
    <a id="get-involved-enquiry" href="#" class="btn btn-primary btn-lg">Get Involved</a>
    <a href="https://anglicanaid.org.au/projects/amfuture" target="_blank" class="btn btn-primary btn-lg">Donate Now</a>
  </div>
</div>
